.player-div{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(34, 187, 29, 0.589)
}

.player-name{
    font-size: 18pt;
    margin: 0;
    background-color: cadetblue;
}

#player-delete-div{
    width: 100%;
}
#player-delete-button{
    width: 100%;
    color: red;
    font-weight: bolder;
    font-size: 12pt;
}

.image-div{
    border-style: inset;
    margin-top: auto;
    margin-bottom: auto;
}

.player-image{
    width: 256px;
}
.link{
    width: 100%;
}
.details-button{
    background-image: linear-gradient(rgba(0, 0, 255, 0.562), rgb(153, 155, 153));
    border: none;
    color: rgb(255, 255, 255);
    width: 256px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-style: outset;
}